<header>
  <h1>Taki Grajek</h1>
</header>
<div class="clear"></div>
<section id="sidebar">
    <h2>HTML5 Audio</h2>
    <section id="audio">
      Wybierz piosenkę, utwór lub kompozycję wierszowaną.
    </section>

    <h2>Udostepnij</h2>
    <%= form_tag upload_path, :method => "post", :multipart => true do %>
        <%= file_field_tag "mp3file" %><br />
        <%= submit_tag "Upload" %>
    <% end %>
</section>
<section id="main">
    <h2>Pobierz/Usuń</h2>
    <table>
    <% @songs.each do |song| %>
        <tr>
            <td><%= song.key %></td>
            <td><%= link_to "Odtwarzacz", download_url_for(song.key), :class => "html5" %></td>
            <td><%= link_to "Pobierz", download_url_for(song.key) %></td>
            <td><%= link_to "Torrent", torrent_url_for(song.key) %></td>
            <td><%= link_to "Usuń",  "songs/delete/?song=" + song.key, :confirm => 'Czy jestes pewien ze chcesz usunac ' + song.key + '?' %></td>
        </tr>
    <% end %>
    </table>
</section>
<div class="clear"></div>
