<header>
  <h1>Grajek</h1>
</header>
<div class="clear"></div>
<section id="sidebar">
    <section id="player">
		<h2>Odtwarzacz</h2>
		<section id="audio">
		  Wybierz piosenkę, utwór lub kompozycję wierszowaną.
		</section>
	</section>

    
	<section id="dodaj">
		<h2>Dodaj</h2>
		<%= form_tag upload_path, :method => "post", :multipart => true do %>
        <%= file_field_tag "mp3file" %><br />
        <%= submit_tag "Dodaj" %>
		<% end %>
	</section>
</section>

<section id="main">
    <h2>Odtwórz / Pobierz / Usuń</h2>
    <table>
    <% @songs.each do |song| %>
        <tr>
            <td><%= song.key %></td>
            <td><div class="kul"><%= link_to "Odtwarzacz", download_url_for(song.key), :class => "html5" %></div></td>
            <td><div class="kul"><%= link_to "Pobierz", download_url_for(song.key) %></div></td>
            <td><div class="kul"><%= link_to "Torrent", torrent_url_for(song.key) %></div></td>
            <td><div class="kul"><%= link_to "Usuń",  "songs/delete/?song=" + song.key, :confirm => 'Czy jestes pewien ze chcesz usunac ' + song.key + '?' %></div></td>
        </tr>
    <% end %>
    </table>
</section>
<div class="clear"></div>
