<!DOCTYPE html>
<html>
<head>
  <title>Grajek</title>
  
  <head>
        
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	    
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
  <%= javascript_include_tag "http://www.google.com/jsapi" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "modernizr.custom.41769.js" %>
  <%= javascript_include_tag "banner2.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
		<!--start header -->
		<div id="header-container">
			<header class="wrapper">
			<div id="wrapper" class="wrapper">
                <canvas id="canvas-banner" class="inactive">
               
                </canvas>
            </div>
				
       
		<script type="text/javascript">
			
			if(Modernizr.canvas) {
				
				var wrapper = document.getElementById('wrapper'),
					loading	= document.createElement('div');
				
				loading.className = 'loading';
				loading.setAttribute('id','loading');
				loading.innerHTML = 'Loading...';

				wrapper.appendChild(loading);
				
				google.load('webfont','1');
				google.setOnLoadCallback(function() {
					WebFont.load({
						google: {
							families: ['Cookie']
						},
						/* Called when each requested web font has finished loading. The fontFamily parameter is the name of the font family, and fontDescription represents the style and weight of the font. */
						active: function(fontFamily, fontDescription) {
							setTimeout(function() {
								
								loading.style.display = 'none';
								
								var banner = new Banner();
								banner.initialize('canvas-banner');
								
								document.getElementById('font').style.display = 'block';
								
							}, 1000);
						},
						inactive: function() {
							
							// google font not loaded, we will use the default font : Arial (set in baner.js file)
							loading.style.display = 'none';
							
							var banner = new Banner();
							banner.initialize('canvas-banner');
							
						}
					});
				});
				
			}
			
		</script>
		   </header>
	</div>
		<!--end header -->
		
		<!--start navigation -->
	<nav id="authentication">
		<% if user_signed_in? %>
			<div class="navp">Zalogowany jako: <%= current_user.email %></div>
			
			<div class="nav"><%= link_to "Wyloguj", destroy_user_session_path %></div>
		<% else %>
			<div class="nav"><%= link_to "Zarejestruj się", new_user_registration_path %></div>	
			<div class="nav"><%= link_to "Zaloguj się", new_user_session_path %></div>
		<% end %>
	</nav>
		
	
	<!--main content -->	
	
	<div id="container">
	<%= yield %>
	</div>
	<!--end main content -->


	<!--end main content -->
<!--start footer -->
  <section id="footer-container">
  	
  <footer class="wrapper">
		<!--start footer nav -->
		<nav>
			<div class="foot-nav"><a href="http://www.initializr.com/">Initializr</a></div>
			<div class="foot-nav"><a href="http://www.makelifeasier.pl/">Blog Kasi Tusk</a></div>
			<div class="foot-nav"><a href="http://wbzyl.inf.ug.edu.pl/rails4/">Ruby@Wbzyl</a></div>
		</nav> 	
		
		<!--end footer nav -->  
   </footer> 
   
    
   </section>
<!--end footer -->

</body>
</html>
